<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. "/>
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,"/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>Principal | OkSocios</title>

    <!-- Favicons-->
    <link rel="icon" th:href="@{images/favicon/logo-fav.png}" sizes="32x32"/>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" th:href="@{images/favicon/apple-touch-icon-152x152.png}"/>
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4"/>
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"/>
    <!-- For Windows Phone -->


    <!-- CORE CSS-->
    <link th:href="@{../css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{../js/plugins/data-tables/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{../css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Custome CSS-->
    <link th:href="@{../css/custom/custom.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link th:href="@{../js/plugins/prism/prism.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{../js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- SweetAlert -->
    <link th:href="@{../js/plugins/sweetalert/dist/sweetalert.css}" href="../static/js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--PaceJS-->
    <link th:href="@{../js/plugins/pacejs/pace.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- jQuery Library -->
    <script type="text/javascript" th:src="@{../js/plugins/jquery-1.11.2.min.js}" src=""></script>
    <!--materialize js-->
    <script type="text/javascript" th:src="@{../js/materialize.js}" src=""></script>
    <!--prism
    <script type="text/javascript" src="js/prism/prism.js"></script>-->
    <!--scrollbar-->
    <script type="text/javascript" th:src="@{../js/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <!-- data-tables -->
    <script type="text/javascript" th:src="@{../js/plugins/data-tables/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/plugins/data-tables/data-tables-script.js}"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" th:src="@{../js/plugins.js}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" th:src="@{../js/custom-script.js}"></script>

    <!--SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--PaceJS-->
    <script type="text/javascript" th:src="@{../js/plugins/pacejs/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{../js/plugins/autocomplete/autocomplete.min.js}"></script>
</head>
<body>

<!-- navbar bar -->
<div th:replace="fragments/navbar :: navbar"/>
<!-- /navbar bar -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- sidebar bar -->
        <div th:replace="fragments/sidebar :: sidebar"/>
        <!-- /sidebar bar -->

<!-- page content -->
<div layout:fragment="content"/>
<!-- /page content -->

    </div>
</div>
<!-- footer bar -->
<div th:replace="fragments/footer :: footer"/>
<!-- /footer bar -->
<!--<script type="text/javascript" th:src="@{../js/navbar.js}"></script>-->
<script type="text/javascript" th:src="@{../js/sidebar.js}"></script>
</body>
</html>