<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer" xmlns:sec="http://www.w3.org/1999/xhtml">
    <footer class="page-footer fixed-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2017 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">OkSocios</a> Todos los derechos reservados.</span>
            </div>
        </div>
    </footer>
</th:block>