<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- START LEFT SIDEBAR NAV-->
    <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
            <li class="user-details cyan darken-2">
                <div class="row">
                    <div class="col col s4 m4 l4">
                        <img th:src="@{|${#authentication.principal.picture}|}" class="circle responsive-img valign profile-image"/>
                    </div>
                    <div class="col col s8 m8 l8">
                        <a class="btn-flat white-text profile-btn" href="javascript:void(0)" th:text="@{|${#authentication.principal.name}|}">John Doe</a>
                    </div>
                </div>
            </li>
            <li class="bold"><a href="/home" class="waves-effect waves-cyan"><i class="mdi-action-home"></i> Principal</a>
            </li>
            <li class="bold"><a href="/customers" class="waves-effect waves-cyan"><i class="mdi-action-list"></i> Socios</a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-editor-insert-chart"></i> Estadísticas</a>
                        <div class="collapsible-body">
                            <ul style="background-color: rgba(169, 169, 169, 0.18);">
                                <li><a href="/stats/activities">Actividades</a>
                                </li>
                                <li><a href="/stats/customers">Socios</a>
                                </li>
                                <li><a href="/stats/entries">Ingresos</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="bold"><a href="/balance" class="waves-effect waves-cyan"><i class="mdi-editor-attach-money"></i> Caja</a>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-social-location-city"></i> Establecimientos</a>
                        <div class="collapsible-body">
                            <ul id="establishments-list" style="background-color: rgba(169, 169, 169, 0.18);">
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-settings-applications"></i> Ajustes</a>
                        <div class="collapsible-body">
                            <ul style="background-color: rgba(169, 169, 169, 0.18);">
                                <li><a href="/staff">Personal</a>
                                </li>
                                <li><a href="/settings">Ajustes</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
            <li class="bold"><a href="/logout" class="waves-effect waves-cyan"><i class="mdi-hardware-keyboard-tab"></i> Salir</a>
            </li>
            <li class="li-hover"><div class="divider"></div></li>
        </ul>
        <a href="javascript:void(0)" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
    </aside>
    <!-- END LEFT SIDEBAR NAV-->
</th:block>