<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START CONTENT -->
<section id="content">

    <!--start container-->
    <div class="container">
        <div class="section">
            <p class="caption"><a href="http://www.chartjs.org/docs/#getting-started" target="_blank">Chart.js</a> provides simple, responsive, clean and engaging charts for designers and developers.</p>

            <div class="divider"></div>
            <!--Bar Chart-->
            <div id="chartjs-bar-chart" class="section">
                <h4 class="header">Subscripciones por Actividad</h4>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p>A bar chart is a way of showing data as bars. It is sometimes used to show trend data, and the comparison of multiple data sets side by side.</p>
                        <div class="input-field">
                            <select class="browser-default" id="crole" name="activities">
                                <option value="">Selecciona Actividad</option>
                                <option th:each="activity : ${activities}" th:value="${activity.id}" th:text="${activity.name}">Activity</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s12 m8 l9">
                        <div class="sample-chart-wrapper">
                            <canvas id="bar-chart-sample" height="120"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

        </div>
        <!-- Floating Action Button -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large">
                <i class="mdi-action-stars"></i>
            </a>
            <ul>
                <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
            </ul>
        </div>
        <!-- Floating Action Button -->
    </div>
    <!--end container-->

</section>
<!-- END CONTENT -->

    <!-- chartjs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!--<script type="text/javascript" th:src="@{js/plugins/chartjs/chartjs-sample-chart.js}"></script>-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        var months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

        $(document).ready(function(){

            var currentMonth = new Date().getMonth();
            var labels = [];

            for (var i = 1; i < (12 - currentMonth); i++) {
                labels.push(months[currentMonth + i]);
            }
            for (i = 0; i <= currentMonth; i++) {
                labels.push(months[i]);
            }

            var BarChartSampleData = {
                labels: labels,
                datasets: [
                    {
                        label: "Hombres",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,0.8)",
                        borderWidth: 1
                    },
                    {
                        label: "Mujeres",
                        backgroundColor: "rgba(151,187,205,0.5)",
                        borderColor: "rgba(151,187,205,0.8)",
                        borderWidth: 1
                    }
                ]
            };

            var ctx = document.getElementById("bar-chart-sample").getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: BarChartSampleData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            $('select').on('change', function (e) {

                var valueSelected = this.value;
                console.log(valueSelected);

                myChart.data.datasets[0].data = [28, 48, 40, 19, 86, 27, 90];
                myChart.data.datasets[1].data = [98, 28, 50, 49, 46, 17, 90];
                myChart.update();
            });

        });

        /*]]>*/
    </script>

</th:block>
</html>