<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link th:href="@{/css/custom/validation.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<th:block layout:fragment="content">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

      <!-- START CONTENT -->
      <section id="content">
        

        <!--start container-->
        <div class="container">
          <div class="section">

              <!--DataTables example-->
              <div id="table-datatables">
                  <h4 class="header">Balance</h4>
                  <div class="row">
                      <div class="col s12">
                          <table id="tbl-balance" class="mdl-data-table" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                  <th>Fecha</th>
                                  <th>Hora</th>
                                  <th>Concepto</th>
                                  <th>Monto</th>
                                  <th>Acciones</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="movement : ${movements}">
                                  <td th:text="${#dates.format(movement.date, 'dd-MM-yyyy')}">Fecha</td>
                                  <td th:text="${#dates.format(movement.date, 'HH:mm')}">Hora</td>
                                  <td th:text="${movement.concept == null ? '-' : movement.concept.name}">Concepto</td>
                                  <td th:text="${movement.income? movement.amount : '- ' + movement.amount}">Monto</td>
                                  <td width="20%">
                                      <a href="javascript:void(0)" class="edit-movement" th:attr="data-id=${movement.id}">
                                          <i style="font-size: x-large;" class="mdi-image-edit"></i>
                                      </a>
                                      <a href="javascript:void(0)" class="delete-movement" th:attr="data-id=${movement.id}">
                                          <i style="font-size: x-large;" class="mdi-action-delete"></i>
                                      </a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

          </div>
            <div class="row">
                <div class="col s12 m6">
                    <div id="card-incomes" class="card-panel">
                        <h4 class="header2">Ingresos externos</h4>
                        <div class="row">
                            <form class="formValidate" id="form-income">
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <input type="hidden" id="uid" name="id" />
                                <div class="container">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label id="lbl-uamount" for="uamount">Monto [AR$]</label>
                                            <input id="uamount" type="number" name="amount" data-error=".errorTxt1"/>
                                            <div class="errorTxt1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <label for="uconcept">Concepto</label>
                                            <select class="error browser-default" id="uconcept" data-error=".errorTxt2">
                                                <option value="">Seleccionar Concepto</option>
                                                <option value="1">Suscripción</option>
                                                <option th:each="concept : ${concepts}" th:value="${concept.id}" th:text="${concept.name}">Concepts</option>
                                            </select>
                                            <div class="input-field">
                                                <div class="errorTxt2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label id="lbl-udesc" for="idesc">Detalle</label>
                                            <textarea id="idesc" type="text" name="detail" class="materialize-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                                               Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div id="card-expenses" class="card-panel">
                        <h4 class="header2">Gastos</h4>
                        <div class="row">
                            <form class="formValidate" id="form-expense">
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                <input type="hidden" id="eid" name="id" />
                                <div class="container">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label id="lbl-eamount" for="eamount">Monto [AR$]</label>
                                            <input id="eamount" type="number" name="amount" data-error=".errorTxt3"/>
                                            <div class="errorTxt3"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <label for="econcept">Concepto</label>
                                            <select class="error browser-default" id="econcept" data-error=".errorTxt4">
                                                <option value="">Seleccionar Concepto</option>
                                                <option th:each="concept : ${concepts}" th:value="${concept.id}" th:text="${concept.name}">Concepts</option>
                                            </select>
                                            <div class="input-field">
                                                <div class="errorTxt4"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label id="lbl-edesc" for="idesc-e">Detalle</label>
                                            <textarea id="idesc-e" type="text" name="detail" class="materialize-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- floating-action-button -->
            <div th:replace="fragments/floating-action-button :: floating-action-button"/>
            <!-- floating-action-button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript">
        let tblBalance = $('#tbl-balance').DataTable({
            searching: false,
            lengthChange: false,
            pageLength: 10,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });

        $(document).ready(function () {
            $("#uamount").rules("add", { required: true, maxlength: 8, messages: { required: "Ingrese el monto", maxlength: "El valor ingresado es demasiado largo"}});
            $("#eamount").rules("add", { required: true, maxlength: 8, messages: { required: "Ingrese el monto", maxlength: "El valor ingresado es demasiado largo"}});
            $("#uconcept").rules("add", { required: true, messages: { required: "Seleccione el concepto"}});
            $("#econcept").rules("add", { required: true, messages: { required: "Seleccione el concepto"}});
            $("#idesc").rules("add", { maxlength: 250, messages: { maxlength: "El valor ingresado es demasiado largo"}});
            $("#idesc-e").rules("add", { maxlength: 250, messages: { maxlength: "El valor ingresado es demasiado largo"}});
        });

        $("#form-income").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var movement = objectifyForm($('#form-income').serializeArray());
                var concept = {};
                concept["id"] = $('#uconcept').val();
                movement["concept"] = concept;
                movement["income"] = true;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/balance",
                    data : JSON.stringify(movement),
                    dataType : 'json',
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        swal("Éxito!", "Ingreso cargado correctamente", "success");
                        //todo show new movement in datatable?
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });

        $("#form-expense").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var movement = objectifyForm($('#form-expense').serializeArray());
                var concept = {};
                concept["id"] = $('#econcept').val();
                movement["concept"] = concept;
                movement["income"] = false;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/balance",
                    data : JSON.stringify(movement),
                    dataType : 'json',
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        swal("Éxito!", "Egreso cargado correctamente", "success");
                        //todo show new movement in datatable?
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });

        tblBalance.on('click', '.edit-movement' , function(){
            let id = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: '/movements/' + id,
                success: function (movement) {
                    if(movement){
                        displayInCard(movement);
                    }else{
                        swal("Lo lamentamos", "No es posible traer este registro. Por favor, comúniquese con oksocios.consultas@gmail.com", "error");
                    }

                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        displayInCard = function(movement){
            if(movement.income){
                $('#uid').val(movement.id);
                $('#uamount').val(movement.amount);
                $('#lbl-uamount').addClass('active');
                $('#uconcept').val(movement.concept.id);
                $('#idesc').val(movement.detail);
                $('#lbl-udesc').addClass('active');
            }else{
                $('#eid').val(movement.id);
                $('#eamount').val(movement.amount);
                $('#lbl-eamount').addClass('active');
                $('#econcept').val(movement.concept.id);
                $('#idesc-e').val(movement.detail);
                $('#lbl-edesc').addClass('active');
            }
        }

        tblBalance.on('click', '.delete-movement', function(){
            var id = $(this).data('id');
            swal({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrá volver a ver este registro",
                icon: "warning",
                buttons: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var btn = $(this);

                        $.ajax({
                            type: 'DELETE',
                            url: '/movements/' + id,
                            contentType: 'application/json',
                            success: function (data) {
                                if(data){
                                    tblBalance.row(btn.parents('tr')).remove().draw();
                                    swal("Eliminado", "El registro ha sido correctamente eliminado", "success");
                                }else{
                                    swal("Lo lamentamos", "No es posible eliminar este registro. Por favor, comúniquese con oksocios.consultas@gmail.com", "error");
                                }
                                $('#form-income')[0].reset();
                                $('#form-expense')[0].reset();
                                $('#uid').val("");
                                $('#eid').val("");
                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });
        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var isDemo = /*[[${session.isDemo}]]*/ false;
        if(isDemo){
            annoTour('balance');
        }
        /*]]>*/
    </script>
</th:block>

</html>