<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link th:href="@{/css/custom/validation.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<th:block layout:fragment="content">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

      <!-- START CONTENT -->
      <section id="content">
        

        <!--start container-->
        <div class="container">
          <div class="section">

              <!--DataTables example-->
              <div id="table-datatables">
                  <h4 class="header">Balance</h4>
                  <div class="row">
                      <div class="col s12">
                          <table id="tbl-balance" class="responsive-table display" cellspacing="0">
                              <thead>
                              <tr>
                                  <th>Fecha</th>
                                  <th>Hora</th>
                                  <th>Concepto</th>
                                  <th>Monto</th>
                                  <th>Acciones</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="movement : ${movements}">
                                  <td th:text="${#dates.format(movement.date, 'dd-MM-yyyy')}">Fecha</td>
                                  <td th:text="${#dates.format(movement.date, 'HH:mm')}">Hora</td>
                                  <td th:text="${movement.concept == null ? '-' : movement.concept.name}">Concepto</td>
                                  <td th:text="${movement.income? movement.amount : '- ' + movement.amount}">Monto</td>
                                  <td>Acciones</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

          </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card-panel">
                        <h4 class="header2">Ingresos externos</h4>
                        <div class="row">
                            <form class="formValidate" id="form-income">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="container">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="uamount">Monto [AR$]</label>
                                            <input id="uamount" type="number" name="amount" data-error=".errorTxt1"/>
                                            <div class="errorTxt1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <label for="uconcept">Concepto</label>
                                            <select class="error browser-default" id="uconcept" data-error=".errorTxt2">
                                                <option value="">Seleccionar Concepto</option>
                                                <option th:each="concept : ${concepts}" th:value="${concept.id}" th:text="${concept.name}">Concepts</option>
                                            </select>
                                            <div class="input-field">
                                                <div class="errorTxt2"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="idesc">Detalle</label>
                                            <textarea id="idesc" type="text" name="detail" class="materialize-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                                               Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card-panel">
                        <h4 class="header2">Gastos</h4>
                        <div class="row">
                            <form class="formValidate" id="form-expense">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="container">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="eamount">Monto [AR$]</label>
                                            <input id="eamount" type="number" name="amount" data-error=".errorTxt3"/>
                                            <div class="errorTxt3"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <label for="econcept">Concepto</label>
                                            <select class="error browser-default" id="econcept" data-error=".errorTxt4">
                                                <option value="">Seleccionar Concepto</option>
                                                <option th:each="concept : ${concepts}" th:value="${concept.id}" th:text="${concept.name}">Concepts</option>
                                            </select>
                                            <div class="input-field">
                                                <div class="errorTxt4"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="idesc-e">Detalle</label>
                                            <textarea id="idesc-e" type="text" name="detail" class="materialize-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn waves-effect waves-light right submit" type="submit" name="action">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Floating Action Button -->
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a href="/new-entry" class="btn-floating btn-large">
                  <i class="mdi-content-add"></i>
                </a>
            </div>
            <!-- Floating Action Button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    <script type="text/javascript" th:src="@{/js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript">
        $('#tbl-balance').DataTable({
            searching: false,
            lengthChange: false
        });

        $(document).ready(function () {
            $("#uamount").rules("add", { required: true, messages: { required: "Ingrese el monto"}});
            $("#eamount").rules("add", { required: true, messages: { required: "Ingrese el monto"}});
            $("#uconcept").rules("add", { required: true, messages: { required: "Seleccione el concepto"}});
            $("#econcept").rules("add", { required: true, messages: { required: "Seleccione el concepto"}});
        });

        $("#form-income").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var movement = objectifyForm($('#form-income').serializeArray());
                var concept = {};
                concept["id"] = $('#uconcept').val();
                movement["concept"] = concept;
                movement["income"] = true;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/balance",
                    data : JSON.stringify(movement),
                    dataType : 'json',
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        swal("Éxito!", "Ingreso cargado correctamente", "success");
                        //todo show new movement in datatable?
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });

        $("#form-expense").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var movement = objectifyForm($('#form-expense').serializeArray());
                var concept = {};
                concept["id"] = $('#econcept').val();
                movement["concept"] = concept;
                movement["income"] = true;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/balance",
                    data : JSON.stringify(movement),
                    dataType : 'json',
                    success : function(data) {
                        console.log("SUCCESS: ", data);
                        swal("Éxito!", "Egreso cargado correctamente", "success");
                        //todo show new movement in datatable?
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });
    </script>
</th:block>

</html>