<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default-ff">
<head>

</head>
<th:block layout:fragment="content">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START CONTENT -->
<section id="content">

    <!--start container-->
    <div class="container">
        <div class="section">
            <!--Bar Chart-->
            <div id="chartjs-bar-chart" class="section">
                <h4 class="header">Edades de los socios</h4>
                <div class="row">
                    <div class="col s12 m12 l2">
                        <div id="card-alert" class="card red lighten-5" style="display: none">
                            <div class="card-content red-text">
                                <p>Parece que no hay socios subscriptios aún.</p>
                            </div>
                            <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    <div class="col s12 m12 l10">
                        <div class="sample-chart-wrapper">
                            <canvas id="customers-ages-chart" height="120"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

        </div>
        <!-- Floating Action Button -->
        <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large">
                <i class="mdi-action-stars"></i>
            </a>
            <ul>
                <li><a href="css-helpers.html" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                <li><a href="app-widget.html" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                <li><a href="app-calendar.html" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                <li><a href="app-email.html" class="btn-floating blue"><i class="large mdi-communication-email"></i></a></li>
            </ul>
        </div>
        <!-- Floating Action Button -->
    </div>
    <!--end container-->

</section>
<!-- END CONTENT -->

    <!-- chartjs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var labels = ["15 o menos", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41 o más"];

        $(document).ready(function(){

            var BarChartSampleData = {
                labels: labels,
                datasets: [
                    {
                        label: "Hombres",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,0.8)",
                        borderWidth: 1
                    },
                    {
                        label: "Mujeres",
                        backgroundColor: "rgba(151,187,205,0.5)",
                        borderColor: "rgba(151,187,205,0.8)",
                        borderWidth: 1
                    }
                ]
            };

            var ctx = document.getElementById("customers-ages-chart").getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: BarChartSampleData,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            function display(users){
                var empty = true;
                for (var i=0; i<users.length; i++){
                    if(users[i] != 0) {
                        empty = false;
                    }
                }
                if(empty){
                    $('#card-alert').css('display','block');
                }
                myChart.data.datasets[0].data = users.splice(0,27);
                myChart.data.datasets[1].data = users;
                myChart.update();
            }

            $.ajax({
                type : "GET",
                contentType : "application/json",
                url : "/stats/customers/draw",
                success : function(data) {
                    console.log("SUCCESS: ", data);
                    display(data);
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                },
                done : function(e) {
                    console.log("DONE");
                }
            });

        });

        /*]]>*/
    </script>

</th:block>
</html>