<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link th:href="@{css/custom/validation.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<th:block layout:fragment="content">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!-- START CONTENT -->
    <section id="content">


        <!--start container-->
        <div class="container">
            <div class="section">

                <div id="jqueryvalidation" class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="col s12 m12 l6">
                                <div id="div-new-customer" class="card-panel">
                                    <div style="display: none" id="card-alert" class="card red lighten-5">
                                        <div class="card-content red-text">
                                            <p id="alert1"></p>
                                        </div>
                                        <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <h4 class="header2">Nuevo Socio</h4>
                                    <div class="row">
                                            <div class="row">
                                                <form class="formValidate" id="form-customer" method="post" th:object="${user}" action="/customers">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="input-field col s12">
                                                    <label for="uname">Nombre*</label>
                                                    <input id="uname" th:field="*{name}" type="text" data-error=".errorTxt1"/>
                                                    <div class="errorTxt1"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="ulastname">Apellido*</label>
                                                    <input id="ulastname" th:field="*{lastName}" type="text" data-error=".errorTxt2"/>
                                                    <div class="errorTxt2"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="udni">DNI *</label>
                                                    <input id="udni" type="number" th:field="*{dni}" data-error=".errorTxt3"/>
                                                    <div class="errorTxt3"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="uemail">E-Mail *</label>
                                                    <input id="uemail" type="email" th:field="*{email}" data-error=".errorTxt4"/>
                                                    <div class="errorTxt4"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="uphone">Número de teléfono</label>
                                                    <input id="uphone" type="number" th:field="*{phoneNumber}" data-error=".errorTxt5"/>
                                                    <div class="errorTxt5"></div>
                                                </div>
                                                <div class="col s12">
                                                    <label for="ubirthdate">Fecha de Nacimiento</label>
                                                    <input id="ubirthdate" type="date" th:field="*{birthDate}" data-error=".errorTxt6"/>
                                                    <div class="errorTxt6"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="ustreet">Calle de Domicilio</label>
                                                    <input id="ustreet" type="text" th:field="*{street}" data-error=".errorTxt7"/>
                                                    <div class="errorTxt7"></div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="unumber">Número de Domicilio</label>
                                                    <input id="unumber" type="number" th:field="*{number}" data-error=".errorTxt8"/>
                                                    <div class="errorTxt8"></div>
                                                </div>
                                                <div class="col s12">
                                                    <label for="ugender">Sexo *</label>
                                                    <select class="error browser-default" id="ugender" th:field="*{gender}" data-error=".errorTxt9">
                                                        <option value="">Seleccionar Sexo</option>
                                                        <option value="true">Masculino</option>
                                                        <option value="false">Femenino</option>
                                                    </select>
                                                    <div class="input-field">
                                                        <div class="errorTxt9"></div>
                                                    </div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <button id="btn-new-customer" class="btn waves-effect waves-light right submit" type="submit" name="action">Enviar
                                                        <i class="mdi-content-send right"></i>
                                                    </button>
                                                </div>
                                                </form>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m12 l6">
                                <div id="div-new-subscription" class="card-panel">
                                    <div style="display: none" id="card-alert" class="card red lighten-5">
                                        <div class="card-content red-text">
                                            <p id="alert2"></p>
                                        </div>
                                        <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <h4 class="header2">Nueva Subscripción</h4>
                                    <div class="row">
                                        <form class="formValidate" id="form-subscription" method="post" th:object="${subscription}" action="/subscriptions">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <label for="udni2">DNI *</label>
                                                    <input id="udni2" type="number" th:field="*{user.dni}" data-error=".errorTxt11"/>
                                                    <div class="errorTxt11"></div>
                                                </div>
                                                <div class="col s12">
                                                    <label for="uactivity">Actividad *</label>
                                                    <select class="error browser-default" id="uactivity" th:field="*{activity.id}" data-error=".errorTxt10">
                                                        <option value="">Seleccionar Actividad</option>
                                                        <option th:each="activity : ${activities}" th:value="${activity.id}" th:text="${activity.name}">Activity</option>
                                                    </select>
                                                    <div class="input-field">
                                                        <div class="errorTxt10"></div>
                                                    </div>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="uperiod">Período en meses *</label>
                                                    <input id="uperiod" type="number" th:field="*{period}" />
                                                </div>
                                                <div class="input-field col s12">
                                                    <label id="lbl-classes" for="uclasses">Cantidad de clases en período</label>
                                                    <input id="uclasses" type="number" th:field="*{classesLeft}" />
                                                </div>
                                                <div class="col s12">
                                                    <input type="hidden" name="freePass" value="false"/>
                                                    <input type="checkbox" id="freepass" name="freePass" value="true"/>
                                                    <label for="freepass">Pase libre</label>
                                                </div>
                                                <div class="input-field col s12">
                                                    <label for="umoney">Monto</label>
                                                    <input id="umoney" type="number" th:field="*{price}"/>
                                                </div>
                                                <div class="input-field col s12">
                                                    <button id="btn-new-subscription" class="btn waves-effect waves-light right submit" type="submit" name="action">Enviar
                                                        <i class="mdi-content-send right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!-- END CONTENT -->
    <script type="text/javascript" th:src="@{js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var freePass = $('#freepass');
            var input_classes =  $("#uclasses");
            var lbl_classes =  $("#lbl-classes");
            freePass.attr('checked', false);
            freePass.click( function(){
                if( $(this).is(':checked') ){
                    input_classes.prop('disabled', true);
                    lbl_classes.text("Pase Libre");
                }
                if( $(this).is(':unchecked')){
                    input_classes.prop('disabled', false);
                    lbl_classes.text("Cantidad de clases en período");
                }
            });



            $("#uname").rules("add", { required: true, messages: { required: "Ingrese el nombre del nuevo socio"}});
            $("#ulastname").rules("add", { required: true, messages: { required: "Ingrese el apellido del nuevo socio"}});
            $("#udni").rules("add", { required: true, messages: { required: "Ingrese el número de documento del nuevo socio"}});
            $("#uemail").rules("add", { required: true, email:true, messages: { required: "Ingrese el email del nuevo socio", email:"Ingrese un email válido"}});
            $("#uactivity").rules("add", { required: true, messages: { required: "Seleccione una actividad"}});
            $("#uperiod").rules("add", { required: true, messages: { required: "Seleccione un período"}});
            $("#udni2").rules("add", { required: true, messages: { required: "Ingrese el número de documento"}});
        });

        $("#form-customer").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var user = objectifyForm($('#form-customer').serializeArray());
                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/customers",
                    data : JSON.stringify(user),
                    dataType : 'json',
                    timeout : 100000,
                    success : function(data) {
                        if(data){
                            swal({
                                title: "¡Éxito!",
                                text: "Socio creado correctamente",
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                        $('#alert1').text(e.responseText);
                        $('#div-new-customer > div').css('display', 'block');
                    }
                });
            }
        });
        $("#form-subscription").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                var subscription = objectifyForm($('#form-subscription').serializeArray());
                var user = {};
                user["dni"] = $('#udni2').val();
                var activity = {};
                activity["id"] = $('#uactivity').val();
                subscription["user"] = user;
                subscription["activity"] = activity;

                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/subscriptions",
                    data : JSON.stringify(subscription),
                    dataType : 'json',
                    timeout : 100000,
                    success : function(data) {
                        if(data){
                            swal({
                                title: "¡Éxito!",
                                text: "Nueva subscripción agregada",
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                        $('#alert2').text(e.responseText);
                        $('#div-new-subscription > div').css('display', 'block');
                    }
                });
            }
        });

        $(function () {
            var token = $("input[name='_csrf']").val();
            var header = "X-CSRF-TOKEN";
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
        });

        function objectifyForm(formArray) {

            var returnArray = {};
            formArray.forEach(function(input, i){
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            });
            return returnArray;
        }
    </script>
</th:block>

</html>