<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default-ff">
<head>
    <link th:href="@{css/custom/validation.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<th:block layout:fragment="content">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <div id="section-activities" class="section">

              <!--DataTables example-->
              <div id="table-datatables">
                  <h4 class="header">Actividades</h4>
                  <div class="row">
                      <div class="col s12 m6">
                          <table id="tbl-activities" class="mdl-data-table" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Acciones</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="activity : ${activities}">
                                  <td th:id="activities- + ${activity.id}" th:text="${activity.name}">Nombre</td>
                                  <td width="20%">
                                      <a href="javascript:void(0)" class="edit-activity" th:attr="data-id=${activity.id}">
                                          <i style="font-size: x-large;" class="mdi-image-edit"></i>
                                      </a>
                                      <a href="javascript:void(0)" class="delete-activity" th:attr="data-id=${activity.id}">
                                          <i style="font-size: x-large;" class="mdi-action-delete"></i>
                                      </a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col s12 m6">
                          <div class="card ">
                              <div class="card-content">
                                  <span class="card-title">Nueva Actividad</span>
                                  <form class="formValidate" id="form-activity">
                                      <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                      <input type="hidden" id="aid" name="id" />
                                      <div class="row">
                                          <div class="input-field col s12">
                                              <label id="lbl-aname" for="aname">Nombre *</label>
                                              <input id="aname" type="text" name="name" data-error=".errorTxt11"/>
                                              <div class="errorTxt11"></div>
                                          </div>
                                      </div>
                                      <button type="submit" class="waves-effect waves-light btn">Enviar</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>

            <div id="section-concepts" class="section">

                <!--DataTables example-->
                <div id="table-concept">
                    <h4 class="header">Conceptos de Gastos/Ingresos</h4>
                    <div class="row">
                        <div class="col s12 m6">
                            <table id="tbl-concepts" class="mdl-data-table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="concept : ${concepts}">
                                    <td th:id="concepts- + ${concept.id}" th:text="${concept.name}">Nombre</td>
                                    <td width="20%">
                                        <a href="javascript:void(0)" class="edit-concept" th:attr="data-id=${concept.id}">
                                            <i style="font-size: x-large;" class="mdi-image-edit"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="delete-concept" th:attr="data-id=${concept.id}">
                                            <i style="font-size: x-large;" class="mdi-action-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col s12 m6">
                            <div class="card ">
                                <div class="card-content">
                                    <span class="card-title">Nuevo Concepto</span>
                                    <form class="formValidate" id="form-concept">
                                        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                                        <input type="hidden" id="cid" name="id" />
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <label id="lbl-cname" for="cname">Nombre *</label>
                                                <input id="cname" type="text" name="name" data-error=".errorTxt2"/>
                                                <div class="errorTxt2"></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="waves-effect waves-light btn">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- floating-action-button -->
            <div th:replace="fragments/floating-action-button :: floating-action-button"/>
            <!-- floating-action-button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->

    <script type="text/javascript" th:src="@{js/plugins/jquery-validation/jquery.validate.min.js}"></script>
    <script>

        var tblActivities = $('#tbl-activities').DataTable({
            searching: false,
            lengthChange: false,
            pageLength: 3,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            bInfo : false
        });
        var tblConcepts = $('#tbl-concepts').DataTable({
            searching: false,
            lengthChange: false,
            pageLength: 3,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            },
            bInfo : false
        });

        $(document).ready(function(){
            $("#aname").rules("add",{required: true, maxlength: 30, messages: {required: "Ingrese el nombre de la actividad", maxlength: "El valor ingresado es demasiado largo"}});
            $("#cname").rules("add",{required: true, maxlength: 30, messages: {required: "Ingrese el nombre del concepto", maxlength: "El valor ingresado es demasiado largo"}});
        });

        tblActivities.on('click', '.edit-activity' , function(){
            let id = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: '/activities/' + id,
                success: function (activity) {
                    if(activity){
                        console.log(activity);
                        $('#aid').val(activity.id);
                        $('#lbl-aname').addClass('active');
                        $('#aname').val(activity.name);
                    }else{
                        swal("Lo lamentamos", "No es posible traer este registro. Por favor, comúniquese con oksocios.consultas@gmail.com", "error");
                    }

                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        tblConcepts.on('click', '.edit-concept' , function(){
            let id = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: '/concepts/' + id,
                success: function (concept) {
                    if(concept){
                        console.log(concept);
                        $('#cid').val(concept.id);
                        $('#lbl-cname').addClass('active');
                        $('#cname').val(concept.name);
                    }else{
                        swal("Lo lamentamos", "No es posible traer este registro. Por favor, comúniquese con oksocios.consultas@gmail.com", "error");
                    }

                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        tblActivities.on('click', '.delete-activity' , function(){
            var id = $(this).data('id');
            swal({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrá volver a ver esta actividad",
                icon: "warning",
                buttons: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var btn = $(this);

                        $.ajax({
                            type: 'DELETE',
                            url: '/activities/' + id,
                            contentType: 'application/json',
                            success: function (data) {
                                if(data){
                                    tblActivities.row(btn.parents('tr')).remove().draw();
                                    swal("Eliminado", "La actividad ha sido correctamente eliminada", "success");
                                }else{
                                    swal("Lo lamentamos", "No es posible eliminar una actividad con suscripciones asociadas", "error");
                                }

                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });
        });

        tblConcepts.on('click', '.delete-concept', function(){
            var id = $(this).data('id');
            swal({
                title: "¿Estás seguro?",
                text: "Una vez eliminado, no podrá volver a ver este concepto",
                icon: "warning",
                buttons: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var btn = $(this);

                        $.ajax({
                            type: 'DELETE',
                            url: '/concepts/' + id,
                            contentType: 'application/json',
                            success: function (data) {
                                if(data){
                                    tblConcepts.row(btn.parents('tr')).remove().draw();
                                    swal("Eliminado", "El concepto ha sido correctamente eliminado", "success");
                                }else{
                                    swal("Lo lamentamos", "No es posible eliminar un concepto con gastos asociados", "error");
                                }

                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });
        });

        $("#form-activity").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                let activity = objectifyForm($('#form-activity').serializeArray());
                if(activity.id === ""){
                    activity.id = null;
                }
                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/activities",
                    data : JSON.stringify(activity),
                    dataType : 'json',
                    success : function(response) {
                        if(response.update){
                            swal("¡Éxito!", "Actividad actualizada correctamente", "success");
                        }else{
                            swal("¡Éxito!", "Actividad cargada correctamente", "success");
                            addActivityRowToTable(response.activity);
                        }
                        $('#form-activity')[0].reset();
                        $('#aid').val("");
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });

        $("#form-concept").validate({
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form){
                let concept = objectifyForm($('#form-concept').serializeArray());
                $.ajax({
                    type : "POST",
                    contentType : "application/json",
                    url : "/concepts",
                    data : JSON.stringify(concept),
                    dataType : 'json',
                    success : function(response) {
                        if(response.update){
                            swal("¡Éxito!", "Concepto actualizado correctamente", "success");

                        }else{
                            swal("¡Éxito!", "Concepto cargado correctamente", "success");
                            addConceptRowToTable(response.concept);
                        }
                        $('#form-concept')[0].reset();
                        $('#cid').val("");
                    },
                    error : function(e) {
                        console.log("ERROR: ", e);
                    }
                });
            }
        });

        addActivityRowToTable = function(activity){
            tblActivities.row.add([
                activity.name,
                ' <a href="javascript:void(0)" class="edit-activity" data-id="'+ activity.id +'">\n' +
                '<i style="font-size: x-large;" class="mdi-image-edit edit-activity"></i>\n' +
                '</a>\n' +
                '<a href="javascript:void(0)" class="delete-activity" data-id="'+ activity.id +'">\n' +
                '<i style="font-size: x-large;" class="mdi-action-delete"></i>\n' +
                '</a>'
            ]).draw(false);
        };

        addConceptRowToTable = function(concept){
            tblConcepts.row.add([
                concept.name,
                ' <a href="javascript:void(0)" class="edit-concept" data-id="'+ concept.id +'">\n' +
                '<i style="font-size: x-large;" class="mdi-image-edit edit-concept"></i>\n' +
                '</a>\n' +
                '<a href="javascript:void(0)" class="delete-concept" data-id="'+ concept.id +'">\n' +
                '<i style="font-size: x-large;" class="mdi-action-delete"></i>\n' +
                '</a>'
            ]).draw(false);
        };
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var isDemo = /*[[${session.isDemo}]]*/ false;
        if(isDemo){
            annoTour('settings');
        }
        /*]]>*/
    </script>
</th:block>

</html>