<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default-ff">
<head>
</head>
<th:block layout:fragment="content">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

      <!-- START CONTENT -->
      <section id="content">
        

        <!--start container-->
        <div class="container">
          <div class="section">

              <!--DataTables example-->
              <div id="table-datatables">
                  <h4 class="header">Suscripciones Activas</h4>
                  <div class="row">
                      <div class="col s12">
                          <table id="tbl-subscriptions" class="mdl-data-table" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                  <th>Nombre</th>
                                  <th>Fecha Nacimiento</th>
                                  <th>Actividad</th>
                                  <th>Vencimiento</th>
                                  <th>Acciones</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="subscription : ${subscriptions}">
                                  <td th:text="${subscription.user.name + ' ' + subscription.user.lastName}">Nombre</td>
                                  <td th:text="${subscription.user.birthDate != null? #dates.format(subscription.user.birthDate, 'dd-MM-yyyy') : '-'}">Fecha Nacimiento</td>
                                  <td th:text="${subscription.activity.name}">Actividad</td>
                                  <td th:text="${#dates.format(subscription.expirationDate, 'dd-MM-yyyy')}"></td>
                                  <td>
                                      <a th:href="@{'/customers/' + ${subscription.user.id}}">
                                          <i style="font-size: x-large;" class="mdi-image-edit"></i>
                                      </a>
                                      <a href="javascript:void(0)" class="delete-subscription" th:attr="data-id=${subscription.id}">
                                          <i style="font-size: x-large;" class="mdi-action-delete"></i>
                                      </a>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

          </div>
            <!-- floating-action-button -->
            <div th:replace="fragments/floating-action-button :: floating-action-button"/>
            <!-- floating-action-button -->
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->

    <script>
        var tblSubscriptions = $('#tbl-subscriptions').DataTable({
            searching: false,
            lengthChange: false,
            language: {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            }
        });

        $('#tbl-subscriptions').on('click', '.delete-subscription' , function(){
            var id = $(this).data('id');
            swal({
                title: "¿Estás seguro?",
                text: "Una vez eliminada, no podrá volver a ver esta suscripción",
                icon: "warning",
                buttons: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        var btn = $(this);

                        $.ajax({
                            type: 'DELETE',
                            url: '/subscriptions/' + id,
                            contentType: 'application/json',
                            success: function (data) {
                                if(data){
                                    tblSubscriptions.row(btn.parents('tr')).remove().draw();
                                    swal("Eliminado", "La suscripción ha sido correctamente eliminada", "success");
                                }else{
                                    swal("Lo lamentamos", "No es posible eliminar esta suscripción. Por favor, comúniquese con oksocios.consultas@gmail.com", "error");
                                }

                            },
                            error: function (e) {
                                console.log(e);
                            }
                        });
                    }
                });
        });
    </script>
</th:block>

</html>