<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">

<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- START CONTENT -->
<section id="content">

    <!--start container-->
    <div class="container">

        <div id="profile-page" class="section">
            <!-- profile-page-header -->
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{../images/user-profile-bg.jpg}" alt="user background"/>
                </div>
                <figure class="card-profile-image">
                    <img th:src="${user.picture}" alt="profile image" class="circle z-depth-2 responsive-img activator"/>
                </figure>
                <div class="card-content">
                    <div class="row">
                        <div style="width: inherit;" class="col s3 offset-s2">
                            <h4 class="card-title grey-text text-darken-4" th:text="${user.name + ' ' + user.lastName}">Roger Waters</h4>
                        </div>
                        <div class="col s1 right-align">
                            <a style="position: absolute; right: 5%;" class="btn-floating activator waves-effect waves-light darken-2 right">
                                <i class="mdi-action-perm-identity"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <p>
                        <span class="card-title grey-text text-darken-4"><span th:text="${user.name + ' ' + user.lastName}"></span> <i class="mdi-navigation-close right"></i></span>
                    </p>

                    <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i><span th:text="${user.phoneNumber!=null? ' Teléfono: ' + user.phoneNumber : ' No se ha almacenado teléfono'}"></span></p>
                    <p><i class="mdi-communication-email cyan-text text-darken-2"></i><span th:text="${' Email: ' + user.email}"></span></p>
                    <p><i class="mdi-social-cake cyan-text text-darken-2"></i><span th:text="${user.birthDate!=null? ' Fecha de Nacimiento: ' + user.phoneNumber : ' No se ha almacenado fecha de nacimiento'}"></span></p>
                    <p><i class="mdi-action-assignment cyan-text text-darken-2"></i><span th:text="${' DNI: ' + user.dni}"></span></p>
                </div>
            </div>
            <!--/ profile-page-header -->

            <!-- profile-page-content -->
            <div id="profile-page-content" class="row">
                <!-- profile-page-sidebar-->
                <div id="profile-page-sidebar" class="col s12 m4">

                    <!-- Profile About  -->
                    <div th:if="${hasSubscription}" class="card amber darken-2">
                        <div class="card-content white-text center-align">
                            <div th:if="${subscription.freePass}">
                                <p class="card-title"><i class="mdi-navigation-check"></i> Pase Libre</p>
                                <p th:text="${'Vencimiento: ' + #dates.format(subscription.expirationDate, 'dd-MMM-yyyy')}"></p>
                            </div>
                            <div th:if="${!subscription.freePass}">
                                <p class="card-title"><i class="mdi-navigation-check"></i> Clases</p>
                                <p th:text="${subscription.classesLeft + ' clases restantes'}">3 clases restantes</p>
                                <p th:text="${'Vencimiento: ' + #dates.format(subscription.expirationDate, 'dd-MMM-yyyy')}"></p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${!hasSubscription}" class="card blue darken-2">
                        <div class="card-content white-text center-align">
                            <p><i class="mdi-navigation-check"></i> No tiene subscripción vigente</p>
                        </div>
                    </div>
                    <!-- Profile About  -->

                    <!-- Map Card -->
                    <div class="map-card">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div id="map-canvas" data-lat="40.747688" data-lng="-74.004142"></div>
                            </div>
                            <div class="card-content">
                                <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                    <i class="mdi-maps-pin-drop"></i>
                                </a>
                                <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Company Name LLC</a>
                                </h4>
                                <p class="blog-post-content">Some more information about this company.</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Company Name LLC <i class="mdi-navigation-close right"></i></span>
                                <p>Here is some more information about this company. As a creative studio we believe no client is too big nor too small to work with us to obtain good advantage.By combining the creativity of artists with the precision of engineers we develop custom solutions that achieve results.Some more information about this company.</p>
                                <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Manager Name</p>
                                <p><i class="mdi-communication-business cyan-text text-darken-2"></i> 125, ABC Street, New Yourk, USA</p>
                                <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                                <p><i class="mdi-communication-email cyan-text text-darken-2"></i> support@geekslabs.com</p>
                            </div>
                        </div>
                    </div>
                    <!-- Map Card -->

                </div>
                <!-- profile-page-sidebar-->

                <!-- profile-page-wall -->
                <div id="profile-page-wall" class="col s12 m8">
                    <!-- profile-page-wall-share -->
                    <div id="profile-page-wall-share" class="row">
                        <div class="col s12">
                            <!-- task-card -->
                            <ul id="task-card" class="collection with-header">
                                <li class="collection-header cyan">
                                    <h4 class="task-card-title">Ingresos en el último mes</h4>
                                    <p class="task-card-date" th:text="${#dates.format(#dates.createNow(), 'dd-MMM-yyyy')}">March 26, 2015</p>
                                </li>
                                <li th:if="${hasEntries}" class="collection-item">
                                    <div id="table-datatables">
                                        <div class="row">
                                            <div class="col s12">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Hora</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="entry : ${entries}">
                                                        <td th:text="${#dates.format(entry.entryDate, 'dd-MMM-yyyy')}">Fecha</td>
                                                        <td th:text="${#dates.format(entry.entryDate, 'HH:mm')}">Hora</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li th:if="${!hasEntries}">
                                    <p th:text="${'Parece que ' + user.name + ' no ha ingresado al establecimiento en el último mes'}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- task-card -->

                    <!-- profile-page-wall-posts -->
                    <div id="profile-page-wall-posts" class="row">
                        <div class="col s12">
                            <!-- medium -->
                            <div id="profile-page-wall-post" class="card">
                                <nav class="red">
                                    <div class="nav-wrapper">
                                        <div class="left col s12 m5 l5">
                                            <ul>
                                                <li><a href="#!" class="email-type">Redactar</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m7 l7 hide-on-med-and-down">
                                            <ul class="right">
                                                <li><a href="#!"><i class="modal-action modal-close  mdi-content-send"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </nav>
                                <div class="card-content">

                                    <div class="model-email-content">
                                        <div class="row">
                                            <form class="col s12">
                                                <!--<div class="row">
                                                  <div class="input-field col s12">
                                                    <input id="from_email" type="email" class="validate">
                                                    <label for="from_email">From</label>
                                                  </div>
                                                </div> -->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input id="subject" type="text" class="validate"/>
                                                        <label for="subject">Asunto</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <textarea id="compose" class="materialize-textarea" length="500"></textarea>
                                                        <label for="compose">Redactar email</label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ profile-page-wall-posts -->

                </div>
                <!--/ profile-page-wall -->

            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
    <!-- google map api -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdGKeF76VJl28uWcUOg2vS8t9Sk1kFrHw"></script>
    <!--google map-->
    <!--<script type="text/javascript" th:src="@{../js/plugins/google-map/google-map-script.js}"></script>-->

    <script th:inline="javascript">
        /*<![CDATA[*/

        var latitude = [[${user.latitude}]];
        var longitude = [[${user.longitude}]];

        function initMap() {
            var location = {lat: latitude, lng: longitude};
            var map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 16,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        $(document).ready(function(){
            initMap();
        });

        /*]]>*/
    </script>

</th:block>

</html>